In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
from matplotlib import style
style.use('ggplot')
%matplotlib inline

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False


from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

In [21]:
a1_path = f'data/API활용_편의점.csv'
a2_path = f'data/API_종합소매.csv'
a3_path = f'data/API_할인점.csv'
a4_path = f'data/API_슈퍼마켓.csv'

a1_raw = pd.read_csv(a1_path, encoding='cp949')
a2_raw = pd.read_csv(a2_path, encoding='cp949')
a3_raw = pd.read_csv(a3_path, encoding='cp949')
a4_raw = pd.read_csv(a4_path, encoding='cp949')


df = pd.concat([a1_raw, a2_raw, a3_raw, a4_raw])
df.drop(['Unnamed: 0'], axis = 'columns', inplace = True)
df

          상가코드     상가이름   도시이름   행정동                    주소
0     10247156  하프타임강동점  부산광역시   강동동        부산광역시 강서구 낙동북로
1     10409180    세븐일레븐  부산광역시  대연1동     부산광역시 남구 유엔평화로4번길
2     10564713    세븐일레븐  부산광역시  재송1동  부산광역시 해운대구 해운대로161번길
3     10588136       CU  부산광역시   우3동     부산광역시 해운대구 마린시티1로
4     10589766    씨스페이스  부산광역시  다대1동        부산광역시 사하구 다대동로
...        ...      ...    ...   ...                   ...
2316   9133925  페리호구내매점  부산광역시   중앙동         부산광역시 중구 충장대로
2317   9080425     초원슈퍼  부산광역시  모라3동    부산광역시 사상구 모라로192번길
2318   9169733     천냥마트  부산광역시  문현3동      부산광역시 남구 문현로66번길
2319   9177859    금곡스토아  부산광역시   금곡동          부산광역시 북구 효열로
2320   9429019     대성슈퍼  부산광역시  덕포2동         부산광역시 사상구 사상로

[6992 rows x 5 columns]

In [26]:
df[df['행정동']=='장전3동']

Empty DataFrame
Columns: [상가코드, 상가이름, 도시이름, 행정동, 주소]
Index: []